header {
  background-image: linear-gradient(to right, #fe4880, #ffce00);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  padding: 15px;
}

items {
  background-image: linear-gradient(to left, #fe4880, #ffce00);
  /* box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2); */
  padding: 15px;

  outline: none;
  border: none;
}

items:hover {
  background-image: linear-gradient(to left, #fe4880, #ffce00);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  padding: 15px;

  outline: none;
  border: none;
}

header input {
  display: inline-block;
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase;
  background: none;
  outline: none;
  border: none;
  appearance: none;
}

header:before {
  display: inline-block;
  content: "/r/";
  color: #fff;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 600;
  font-style: italic;
}
